*.iml
*.hprof
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild

gradle
build
app/google-services.json
app/schemas
app/debug
app/release
keystore
gradlew
gradlew.bat
keystore.properties
*.jks
TestDevices.java
