<?xml version="1.0" encoding="utf-8"?><!--
  ~ MIT License
  ~
  ~ Copyright (c) 2017 klnvch
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~ SOFTWARE.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="by.klnvch.link5dots">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <uses-sdk tools:overrideLibrary="com.firebase.ui.database, com.firebase.ui.common" />

    <application
        android:name="by.klnvch.link5dots.di.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <service android:name="by.klnvch.link5dots.multiplayer.services.GameServiceBluetooth" />
        <service android:name="by.klnvch.link5dots.multiplayer.services.GameServiceNsd" />
        <service android:name="by.klnvch.link5dots.multiplayer.services.GameServiceOnline" />

        <activity
            android:name="by.klnvch.link5dots.MainMenuActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="by.klnvch.link5dots.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.MainMenuActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.MultiPlayerMenuActivity"
            android:label="@string/menu_multi_player"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.MainMenuActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.TwoPlayersActivity"
            android:label="@string/menu_two_players"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.MultiPlayerMenuActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.multiplayer.activities.GameActivityBluetooth"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/bluetooth"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.MultiPlayerMenuActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.multiplayer.activities.GameActivityNsd"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/menu_local_network"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.MultiPlayerMenuActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.multiplayer.activities.GameActivityOnline"
            android:label="@string/menu_online_game"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.MultiPlayerMenuActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.scores.ScoresActivity"
            android:label="@string/scores_title"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.MainMenuActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.scores.GameInfoActivity"
            android:label="@string/application_info_label"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.scores.ScoresActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.HowToActivity"
            android:label="@string/help"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.MainMenuActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.InfoActivity"
            android:label="@string/application_info_label"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.MainMenuActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.settings.SettingsActivity"
            android:label="@string/settings"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.MainMenuActivity" />
        </activity>
    </application>

</manifest>