<?xml version="1.0" encoding="utf-8"?><!--
  ~ MIT License
  ~
  ~ Copyright (c) 2017 klnvch
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~ SOFTWARE.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="by.klnvch.link5dots">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name="by.klnvch.link5dots.multiplayer.bluetooth.BluetoothService" />
        <service android:name="by.klnvch.link5dots.multiplayer.nsd.NsdService" />
        <service android:name="by.klnvch.link5dots.multiplayer.online.OnlineService" />

        <activity
            android:name="by.klnvch.link5dots.MainMenuActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="by.klnvch.link5dots.MainActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.MainMenuActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.MultiPlayerMenuActivity"
            android:label="@string/menu_multi_player">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.MainMenuActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.TwoPlayersActivity"
            android:label="@string/menu_two_players">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.MultiPlayerMenuActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.multiplayer.bluetooth.DevicePickerActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/device_picker">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.MultiPlayerMenuActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.multiplayer.nsd.NsdPickerActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/menu_local_network">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.MultiPlayerMenuActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.multiplayer.bluetooth.BluetoothActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.multiplayer.bluetooth.DevicePickerActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.multiplayer.nsd.NsdActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.multiplayer.bluetooth.DevicePickerActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.multiplayer.online.OnlineGameActivity"
            android:label="@string/menu_online_game">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.MultiPlayerMenuActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.scores.ScoresActivity"
            android:label="@string/scores_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.MainMenuActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.HowToActivity"
            android:label="@string/how_to_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.MainMenuActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.settings.InfoActivity"
            android:label="@string/application_info_label"
            android:launchMode="standard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.MainMenuActivity" />
        </activity>
        <activity
            android:name="by.klnvch.link5dots.settings.SettingsActivity"
            android:label="@string/settings_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.klnvch.link5dots.MainMenuActivity" />
        </activity>
    </application>

</manifest>